<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8" />
    <title>Add Album</title>
</head>

<body>

<!--    <form action="http://localhost:8080/postaddalbum" method="post">-->
<!--        <label for="album">Enter Album Name</label>-->
<!--        <input type="text" id="album" name="title" />-->
<!--        <br />-->
<!--        <label for="artist">Enter Artist Name</label>-->
<!--        <input type="text" id="artist" name="artist" />-->
<!--        <br />-->
<!--        <label for="numberOfSongs">Enter Number Of Songs</label>-->
<!--        <input type="number" min="1" id="numberOfSongs"  name="songCount"/>-->
<!--        <br />-->
<!--        <label for="length">Enter Length</label>-->
<!--        <input type="number" min="60" id="length"  name="length"/>-->
<!--        <br />-->
<!--        <label for="img">Enter Image URL</label>-->
<!--        <input type="text" id="img"  name="imageUrl"/>-->
<!--        <button  type="submit" >Add Album</button>-->
<!--    </form>-->

<h1>Form</h1>
<form action="#" th:action="@{/postaddalbum}" th:object="${postaddalbum}" method="post">
    <p>title: <input type="text" field="*{title}"  name="title"/></p>
    <p>artist: <input type="text" field="*{artist}" name="artist" /></p>
    <p>songCount: <input type="text" field="*{songCount}" name="songCount"/></p>
    <p>length: <input type="text" field="*{length}" name="length"/></p>
    <p>imageUrl: <input type="text" field="*{imageUrl}" name="imageUrl" /></p>
    <p> Submit <input type="submit" value="Submit" /></p>
</form>
</body>

</html>